.header {
    color: white;
    background: #4b4b4b;
    padding: 20px;
}

form {
    padding-top: 10px;
    margin-left: 10px;
}

.initInput {
    margin-left: 10px;
}

.btn {
    background: #4b4b4b!important;
    color: white!important;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 15;
    padding-right: 15;
    padding-top: 5;
    padding-bottom: 5;
}

.btn:focus, .btn:hover {
    background: black!important;
}

#checkboxLength {
    padding: 10px;
}