.header {
    color: white;
    background: #4b4b4b;
    padding: 20px;
}

form {
    padding-top: 10px;
    margin-left: 10px;
}

.box {
    padding-top: 10px;
    margin-left: 10px;
}

.initInput {
    margin-left: 10px;
}

.btn {
    background: #4b4b4b!important;
    color: white!important;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 15;
    padding-right: 15;
    padding-top: 5;
    padding-bottom: 5;
}

.btn:focus, .btn:hover {
    background: black!important;
}

#checkboxLength {
    padding: 10px;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

/* Easy Grid */
.eg-row{
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    justify-content:space-between;
    margin:0.5em 0;
}
.eg-row.no-marg{
    margin:0!important;
}
.col-100,
.col-75,
.col-66,
.col-50,
.col-33,
.col-25{
    width:98%;   
    margin:0 1%;
}
@media(min-width:768px){
    .col-75{
        width:73%;   
    }
    .col-66{
        width:65%;   
    }
    .col-50{
        width:48%;   
    }
    .col-33{
        width:31%;   
    }
    .col-25{
        width:23%;   
    }
}
/* End Easy Grid */