header {
    color: white;
    background: #4b4b4b;
    padding: 20px;
    text-align: center;
}

.genheader {
    background-color: #e1e1e1;
    position: sticky;
    top: 0;
    padding-bottom: 20px;
    box-shadow: 0px 5px 11px 0px #00000042;
}

.generateDiv {
    padding-top: 20px;
}

.generateSection,.generateSection2 {
    padding-bottom: 20px;
}

.generateSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.generateSection2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parameter {
    padding: 10px;
}

h5 {
    display: inline;
    padding-right: 5px;
}

.box {
    padding-top: 10px;
    margin-left: 10px;
}

.numberinput {
    width: 100px;
}

#fixedlabel {
    padding-left: 6px;
}

.genbuttons {
    display: block;
    text-align: center;
}

.btn {
    background: #4b4b4b;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 200px;
}

.btn:focus, .btn:hover {
    background: black;
    color: white;
}

#checkboxLength {
    padding-top: 10px;
    padding-left: 10px;
    display: block;
}

ol > li::marker {
    font-weight: bold;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 465px) {
    #checkboxLength {
        display: inline;
    }
}

@media (min-width: 1200px) {
    .generateSection {
        display: flex;
        flex-direction: row;
    }
}